:root {
    --wall: #000;
    --level-highlight: #501f3c;
    --level-font: #872963;
    --gate-highlight: #872963;
    --stone-light: #38353a;
    --stone-dark: #112;
    --wood-light: #6a4027;
    --wood-dark: #201204;
    --drape-light: #401815;
    --drape-dark: #290b0b;
}

body
{
    background-color: var(--wall);
    color: #ccc;
    margin: 0;
}

h1 {
    color: var(--level-font);
}

/* placeholder color match */
[fill="#63c"] {
    fill: var(--gate-highlight);
}

[fill="#85a"] {
    fill: var(--level-highlight);
}

[fill="#888"] {
    fill: var(--stone-light);
}

[fill="#333"] {
    fill: var(--stone-dark);
}

[fill="#873"] {
    fill: var(--wood-light);
}

[fill="#320"] {
    fill: var(--wood-dark);
}

[fill="#a22"] {
    fill: var(--drape-light);
}

[fill="#511"] {
    fill: var(--drape-dark);
}

/* danger level colors */
.level--pink {
    --level-highlight: #6b2e38;
    --level-font: #be3554;
}

.level--red {
    --level-highlight: #562518;
    --level-font: #a42f09;
}

.level--orange {
    --level-highlight: #4d3010;
    --level-font: #975a04;
}

.level--yellow {
    --level-highlight: #4b4012;
    --level-font: #9b8200;
}

.level--lime {
    --level-highlight: #344112;
    --level-font: #66810f;
}

.level--green {
    --level-highlight: #14391e;
    --level-font: #235d34;
}

.level--teal {
    --level-highlight: #104941;
    --level-font: #128f7f;
}

.level--cyan {
    --level-highlight: #033560;
    --level-font: #0c6dbd;
}

.level--blue {
    --level-highlight: #151c75;
    --level-font: #282bca;
}

.level--ultraviolet {
    --level-highlight: #3c2271;
    --level-font: #7121e4;
}
